<template>
  <div id="applicationEditPopup" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <form action="#" method="post" v-on:submit.prevent="saveApp" id="saveAppForm">
        <input type="hidden" v-model="editForm.id">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editedAppTitle">
              <span v-if="editForm.id">Edit</span>
              <span v-else-if="!loading">Create</span>
              {{ editForm.internalTitle ? '"' + editForm.internalTitle + '"' : '' }}
            </h5>
            <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
          </div>
          <div class="modal-body">
            <div class="form-row main-app-data">
              <div class="col-md-4 icon-area">
                <div class="input-group mb-3 mt-3">
                  <div class="icon-preview">
                    <img id="appIconPreview" v-if="appIconSrc" v-bind:src="appIconSrc" alt="Icon Preview">
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="appIcon" v-on:change="appIconChanged">
                    <label class="custom-file-label" for="appIcon">Choose file</label>
                  </div>
                </div>
              </div>
              <div class="col-md-8 details-area">
                <div class="mb-3 mt-3">
                  <label for="appName">Internal Title</label>
                  <input type="text" class="form-control" id="internalTitle" placeholder="Internal Title" name="internalTitle" v-model="editForm.internalTitle" required>
                </div>
                <div class="mb-3 mt-3">
                  <label for="appTitle">App Title</label>
                  <input type="text" class="form-control" id="appTitle" placeholder="App Title" name="appTitle" v-model="editForm.appTitle" required>
                </div>
              </div>
            </div>
            <div class="form-row">
              <input type="hidden" name="imageGalleryJson" v-model="editForm.imageGalleryJson">
              <ImageGallery :images="images"></ImageGallery>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" :disabled="this.saveDebounce" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </form>
      <Loader v-bind:loading="loading"></Loader>
    </div>
  </div>
</template>

<script>
import axios from "axios"

import ImageGallery from "./ImageGallery"
import Loader from "./Loader"
import Toast from './Toast'

export default {
  name: "ApplicationEdit",

  components: {
    ImageGallery,
    Loader,
    Toast
  },

  data() {
    return {
      images: {
        imageList: [],
        imagesToUpload: []
      },
      editFormInitialState: {
        internalTitle: '',
        appTitle: '',
        appIcon: null,
        imageGalleryJson: JSON.stringify([])
      },
      editForm: {},
      appIconSrc: null,
      loading: false,
      saveDebounce: false,
      toasts: []
    }
  },

  mounted() {
    this.$root.$on('start-editing', this.startEditing)
    $('#applicationEditPopup').on('hidden.bs.modal', this.resetForm)
    document.getElementById('createNewApp').addEventListener('click', e => this.startEditing())
    this.resetForm()
  },

  methods: {
    startEditing(appId) {
      if(appId){
        this.loading = true
        axios.get('/api/app/' + appId)
            .then((response) => {
              this.editForm = response.data.application
              this.appIconSrc = window.VIEW_DATA.iconBaseUrl + '/' + response.data.appIconSrc
              this.sortApplicationImages(response.data.application.appScreens, response.data.application.imageGalleryJson)
            })
            .catch((reason) => {
              this.closeModal()
              this.showToast(
                  'danger',
                  'Something went wrong.',
                  'Try again please.'
              )
            })
            .finally(() => {
              this.loading = false
            })
      }
    },

    closeModal() {
      $('#applicationEditPopup').modal('hide')
    },

    sortApplicationImages(images, orderJson) {
      const imageOrder = JSON.parse(orderJson)

      for (let key in imageOrder) {
        let image = images.find((element) => {
          return element.sortingUuid === imageOrder[key]
        })

        image.img = window.VIEW_DATA.appScreenBaseUrl + '/' + image.img
        this.images.imageList.push(image)
      }
    },

    resetForm() {
      this.editForm = {...this.editFormInitialState}
      this.images.imageList = []
      this.images.imagesToUpload = []
      this.resetAppIcon()
    },

    resetAppIcon() {
      document.getElementById('appIcon').value = null
      this.editForm.appIcon = null
      this.appIconSrc = null
    },

    saveApp() {
      this.loading = true
      this.saveDebounce = true
      axios.post('/api/app/save', this.prepareForm())
          .then((response) => {
            this.editForm = response.data.app
            this.images.imagesToUpload = []
            this.$root.$emit('applications-updated')
            this.showToast(
                'success',
                'The app is saved!',
                'The link to your app:',
                document.location.host + '/app/' + response.data.app.slug,
                document.location.host + '/app/' + response.data.app.slug
            )
          })
          .catch(() => {
            this.showToast(
                'danger',
                'Something went wrong...',
                'Reload and try again please.'
            )
          })
          .finally(() => {
            this.loading = false
            this.saveDebounce = false
          })
    },

    prepareForm() {
      const formData = new FormData();

      Object.keys(this.editForm).forEach((key) => {
        formData.append(key, this.editForm[key])
      })

      this.images.imagesToUpload.forEach(image => formData.append('images[' + image.sortingUuid + ']', image.img))

      return formData
    },

    showToast(type, title, text, linkText, linkUrl) {
      let toast = {
        type: type,
        title: title,
        text: text
      }

      if(linkText && linkUrl){
        toast.link = {
          text: linkText,
          url: linkUrl
        }
      }

      this.$root.$emit('show-toast', toast)
    },

    appIconChanged(e) {
      const [file] = e.target.files
      this.editForm.appIcon = file
      this.imagePreview(file)
    },

    imagePreview(file) {
      if(file){
        this.appIconSrc = URL.createObjectURL(file)
      }
    },

    updateImagesOrder() {
      let imageArrayUuid = []

      this.images.imageList.map((image) => {
        imageArrayUuid.push(image.sortingUuid)
      })

      this.editForm.imageGalleryJson = JSON.stringify(imageArrayUuid)
    }
  }
}
</script>

<style scoped>

</style>