<template>
  <div class="application-item">
    <div class="application-item-icon">
      <img :src="appIconSrc" alt="">
      <div class="actions">
        <div class="actions-inner">
          <span class="edit" data-toggle="modal" data-target="#applicationEditPopup" @click="$root.$emit('start-editing', app.id)"><i class="fa fa-pencil"></i></span>
          |
          <span class="delete" @click="deleteApp(app)"><i class="fa fa-trash-o"></i></span>
        </div>
      </div>
    </div>
    <p class="application-item-title">
      <a :href="'/app/' + app.slug" target="_blank">{{ app.internalTitle }}</a>
    </p>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ApplicationItem",

  props: {
    appIconSrc: String,
    app: Object
  },

  methods: {
    deleteApp(app) {
      if(confirm('Do you want ot delete "' + app.internalTitle + '"?')){
        axios.delete('/api/app/' + app.id)
          .then((response) => {
            this.showToast(
                'success',
                'The app is removed successfully!',
            )
            this.$parent.syncApplications()
          })
          .catch((reason) => {
            this.showToast(
                'danger',
                'Something went wrong...',
                'Please try again later.',
            )
            console.log(reason)
          })
      }
    },

    showToast(type, title, text, linkText, linkUrl) {
      let toast = {
        type: type,
        title: title,
        text: text
      }

      if(linkText && linkUrl){
        toast.link = {
          text: linkText,
          url: linkUrl
        }
      }

      this.$root.$emit('show-toast', toast)
    }
  }
}
</script>

<style scoped>

</style>