<template>
  <div class="image-gallery-wrapper">
    <label for="imageGallery">App Screens</label>
    <draggable
        class="image-gallery"
        id="imageGallery"
        v-model="images.imageList"
        group="people"
        @start="drag=true"
        @end="drag=false"
        @change="onImageOrderChange"
        ghost-class="ghost"
        animation="150"
    >
      <div class="image-gallery-item" v-for="element in images.imageList" :key="element.id">
        <img :src="element.img" alt="">
        <a class="delete" @click="deleteImage(element.id)" href="javascript:void(0);"><i class="fa fa-times"></i></a>
      </div>
    </draggable>
    <div class="upload-more">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="uploadMoreScreens" multiple @change="uploadMoreScreens">
        <input type="hidden" id="filesToLoad">
        <label class="custom-file-label" for="appIcon">Upload screens</label>
      </div>
    </div>
  </div>
</template>

<script>
import draggable from 'vuedraggable';
import { v4 as uuidv4 } from 'uuid';

export default {
  name: "ImageGallery",

  components: {draggable},

  methods: {
    uploadMoreScreens(e) {
      const files = Array.from(e.target.files)

      files.map((file) => {
        this.processNewScreenshot(file)
      })

      this.onImageOrderChange()
      e.target.value = null;
    },

    processNewScreenshot(file) {
      if(this.allowedMimeTypes.indexOf(file.type) === -1){
        console.log(file.type)
        // push the error
        return;
      }

      const id = this.generateUploadImageId()
      const uuid = this.generateSortingUuid()

      this.images.imagesToUpload.push({
        id: id,
        img: file,
        sortingUuid: uuid
      })

      this.images.imageList.push({
        id: id,
        img: URL.createObjectURL(file),
        sortingUuid: uuid
      })
    },

    deleteImage(id) {
      this.images.imageList = this.images.imageList.filter(image => image.id !== id)
      this.images.imagesToUpload = this.images.imagesToUpload.filter(image => image.id !== id)
      this.onImageOrderChange()
    },

    generateUploadImageId() {
      const uploadedImagePrefix = 'upl_'
      return uploadedImagePrefix + this.imageUploadIncrementId++
    },

    generateSortingUuid() {
      return uuidv4()
    },

    onImageOrderChange() {
      this.$parent.updateImagesOrder()
    }
  },

  data() {
    return {
      imageUploadIncrementId: 0,
      allowedMimeTypes: [
        'image/jpeg',
        'image/webp',
        'image/png'
      ]
    }
  },

  props: {
    images: Object
  }
}
</script>

<style scoped>

</style>