<template>
  <div v-if="this.loading" id="loader"  class="loader" style="">
    <div class="spinner-wrapper" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
      <div class="spinner-grow" style="width: 3rem; height: 3rem" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Loader",

  props: {
    loading: Boolean
  }
}
</script>

<style scoped>

</style>