<template>
  <div class="application-management">
    <ApplicationEdit></ApplicationEdit>
    <div class="application-list">
      <ApplicationItem
          v-for="application in applications"
          v-bind:key="application.id"
          :app="application"
          :appIconSrc="iconBaseUrl + '/' + application.appIcon">
      </ApplicationItem>
    </div>
    <h1 v-if="!applications.length && !loading">You have no apps yet.</h1>
    <Loader v-bind:loading="loading"></Loader>
    <ToastContainer></ToastContainer>
  </div>
</template>

<script>
  import axios from "axios";

  import Loader from "./Loader"
  import ApplicationItem from "./ApplicationItem"
  import ApplicationEdit from "./ApplicationEdit"
  import ToastContainer from "./ToastContainer"

  export default {
    name: "Manage",

    components: {
      Loader,
      ApplicationItem,
      ApplicationEdit,
      ToastContainer
    },

    mounted() {
      this.syncApplications()
      this.$root.$on('applications-updated', this.syncApplications)
    },

    methods: {
      syncApplications() {
        this.loading = true
        axios.get('/api/apps/all')
          .then((response) => {
            this.applications = response.data.applications
          })
          .finally(() => {
            this.loading = false
          })
      }
    },

    data() {
      return {
        loading: false,
        editModalShow: false,
        applications: [],
        iconBaseUrl: window.VIEW_DATA.iconBaseUrl,
        toasts: []
      }
    }
  }
</script>

<style scoped>

</style>