<template>
  <img v-if="this.screenSrc" v-bind:src="screenSrc" @click="nextScreen" alt="">
</template>

<script>
export default {
  name: "Pwa",

  mounted() {
    this.nextScreen()
  },

  methods: {
    nextScreen() {
      const img = this.screens[this.position++ % this.screens.length].img;
      this.screenSrc = '/' + this.appScreenBaseUrl + '/' + img;
    }
  },

  data() {
    return {
      screens: JSON.parse(window.VIEW_DATA.appScreensJson),
      appScreenBaseUrl: window.VIEW_DATA.appScreenBaseUrl,
      position: 0,
      screenSrc: null
    }
  }
}
</script>

<style scoped>

</style>