<template>
  <div class="toast-container">
    <Toast v-for="toast in this.toasts" :toast="toast"></Toast>
  </div>
</template>

<script>
import Toast from "./Toast";

export default {
  name: "ToastContainer",

  components: {
    Toast
  },

  mounted() {
    this.$root.$on('show-toast', this.showToast)
  },

  data() {
    return {
      toasts: []
    }
  },

  methods: {
    showToast(toast) {
      this.toasts.push(toast)
    }
  }
}
</script>

<style scoped>

</style>