<template>
  <div :class="'toast toast-' + toast.type" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000" data-autohide="true">
    <div class="toast-header">
      <svg
          class="bd-placeholder-img rounded mr-2"
          width="20"
          height="20"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img">
        <rect width="100%" height="100%" fill="#007aff"></rect>
      </svg>
      <strong class="mr-auto">{{ toast.title }}</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div v-if="toast.text || toast.link" class="toast-body">
      <div class="text">{{ toast.text }}</div>
      <div v-if="toast.link" class="link">
        <a target="_blank" :href="toast.link.url">{{ toast.link.text }}</a>
        <i class="fa fa-copy" @click="copyLink(toast.link.url)"></i>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Toast",

  mounted() {
    $(this.$el).toast('show')
  },

  methods: {
    copyLink(link) {
      try {
        navigator.clipboard.writeText(link).then(() => {
          this.$root.$emit('show-toast', {
            type: 'success',
            title: 'Link copied to clipboard'
          })
        }, function(err) {
          console.error('Async: Could not copy text: ', err);
        });
      } catch (e) {
        console.error(e)
      }
    }
  },

  props: {
    toast: Object
  }
}
</script>

<style scoped>

</style>